@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/OpenSans-Regular.ttf");
}

*{padding: 0px; margin: 0px;}

body{
	background-color: #f0f0f0;
	font-family:Arial;
}

/*cabeçalho*/
header{
	height: 132px;
	background-color: #fff;
}

#topo{
	width: 700px;
	height:110px;
	margin: 0px auto;
}

#logo{
	width: 100px;
	height: 100px;
	float: left;
}
#logo img{
	width: 100px;
	height: 100px;
	float: left;
}

#pesquisa{
	float: right;
	margin-top: 45px;
}

/*campo de texto*/
input[type=text]{
	width: 250px;
	height: 25px;
	border-radius: 10px;
	transition: background-color 0.3s;
	background-color: #e0e0e0;
}

input[type=text]:focus{
	transition: background-color 0.3s;
	background-color: #fff;
}

input[type=submit]{
	width: 100px;
	height: 25px;
	color: #ccc;
	font-size: 18px;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	background-color: rgba(0, 126, 182, 1);
}

input[type=submit]:hover{
	box-shadow: inset 0px 0px 8px;
}


/*LINKS HEADER*/
nav{
	text-align: center;
	clear: left;
}

nav a{
	height:24px;
	font-size: 18px;
	font-weight:200;
	font-family:OpenSans, Arial;
	text-decoration: none;
	padding: 6px 6px 0px;
	color:#007EB6;
	border-bottom: 0px solid #33f;
	transition: border-bottom ease-out 0.1s;
}

nav a:hover{
	transition: border-bottom ease-out 0.1s;
	border-bottom: 2px solid #33f;
}

#marca-pagina{
	border-bottom: 2px solid #33f;
}
/*FIM LINKS HEADER*/

/*CONTEUDO DA PAGINA INDEX*/
#banner{
	height: 680px;
	background: url(../img/banner/rio-capibaribe.jpg) no-repeat center;
}

#conteudo{
	width: 960px;
	min-height: 722px;
	margin: 2px auto;
	padding:2px;
	background-color: #fff;
}
#imgTopo{
	width:100%;;
	height:200px;
	overflow:hidden;
	/*padding:1px;*/
	background-color:aquamarine;
	margin-bottom:2px;
}
.imgCenter{
	float:left;
}
.imgSmall{
	width:320px;
	height:300px;
	background-color:aquamarine;
	margin:0px 2px 2px 0px;
	float:left;
}

.imgTopo img{
	width:inherit;
}
.imgSmall img{
	width:inherit;
	height:inherit;
}


#imgBottom{
	width:641px;
	height:220px;
	background-color:aquamarine;
	margin:2px 2px 2px 0px;
	position:relative;
	clear:both;
}
#imgSide{
	width:313px;
	height:521px;
	margin:0px 2px 1px 0px;
	background-color:red;
	float:right;
}
/*FIM CONTEUDO DA PAGINA INDEX*/

/*CONTEUDO DAS PAGINAS*/
.textoArtigo{
	margin-top: 5px; 
	width: 550px;
	float: left;
	padding-right: 20px;
	margin-left:10px;
	text-align: justify;
	line-height:24px;
	color: #808080;
}

.artigo h1{
	margin:10px;
	font-family:OpenSans, Arial;
}

/*FIM CONTEUDO DAS PAGINAS*/
/*FOOTER*/
footer{
	height: 210px;
	background-color: blue;
}

footer article{
	width: 770px;
	margin: 0px auto;
}

footer p{
	margin-top: 5px; 
	width: 300px;
	float: left;
	padding-right: 30px;
	text-align: justify;
	color: lightgray; 
}

footer img{
	margin-top: 5px; 
	width: 30px;
	height: 30px;
	border-radius: 10px;
}